$base-black: black;
$base-white: white;
$accent-color: #1a759f;
$mild-red: #e63946;
$primary-font: 'Source Code Pro', monospace;


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

body, button, input, textarea {
    font-family: $primary-font;
}

button {
    border: 0;
}

button, textarea, .note-card {
    border-radius: 0.5rem;
}

.container {
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}